html, body {
    background-color: black;
    font-family: "Oswald", sans-serif;
    color: white;
}

.counter {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    border: none;
    outline: none;
    background: transparent;
    font: inherit;
    color: inherit;
    font-size: 6em;
    text-align: center;
    width: fit-content;
}

.probdisplay {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    font-size: 4em;
    text-align: center;
    width: fit-content;
    user-select: none;
}

.increment {
    font-size: 14em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    user-select: none;
    width: 15%;
    text-align: center;
}

.incrementamountbox {
    position: absolute;
    left: 5%;
    bottom: 12%;
    display: flex;
    font-size: 2.5em;
}

.probabilityvaluebox {
    position: absolute;
    left: 5%;
    bottom: 5%;
    display: flex;
    font-size: 2.5em;
}

.settingsinput {
    border: none;
    outline: none;
    background: transparent;
    font: inherit;
    color: inherit;
    font-size: inherit;
}

